html{
    overflow-x: hidden;
    box-sizing: border-box;
    width: 100%;
}
*   {
    margin-left: 10px;
    background-color: #2D3126;
}
/* global style */
.text-green {
    color: #32C92F;
}
.text-blue  {
    color: #6FECC6;
}
.text-yellow  {
    color: #9A9C1F;
}
.profile    {
    margin-top: 10rem;
    width: 50rem;
    height: 50rem;
    border: 2px solid blue;
    border-radius: 25px;
    background: url(/image/profile.jpg);
    background-repeat: no-repeat;
    /* background-attachment: fixed;
    background-size: cover;
    background-position: center; */
}